In [2]:
# dependencies
import pandas as pd 
import requests
import json
import us
from pprint import pprint

In [3]:
# Built URL using Census variables website https://api.census.gov/data/timeseries/poverty/saipe/variables.html
url="https://api.covidtracking.com/v1/states/daily.json"

# # Build query URL
# query_url = url + "&key=" + census 

# Get poverty data
cov_response = requests.get(url)
cov_json = cov_response.json()

In [4]:
cov_response

In [5]:
cov_json[0]

{'date': 20210307,
 'state': 'AK',
 'positive': 56886,
 'probableCases': None,
 'negative': None,
 'pending': None,
 'totalTestResultsSource': 'totalTestsViral',
 'totalTestResults': 1731628,
 'hospitalizedCurrently': 33,
 'hospitalizedCumulative': 1293,
 'inIcuCurrently': None,
 'inIcuCumulative': None,
 'onVentilatorCurrently': 2,
 'onVentilatorCumulative': None,
 'recovered': None,
 'lastUpdateEt': '3/5/2021 03:59',
 'dateModified': '2021-03-05T03:59:00Z',
 'checkTimeEt': '03/04 22:59',
 'death': 305,
 'hospitalized': 1293,
 'hospitalizedDischarged': None,
 'dateChecked': '2021-03-05T03:59:00Z',
 'totalTestsViral': 1731628,
 'positiveTestsViral': 68693,
 'negativeTestsViral': 1660758,
 'positiveCasesViral': None,
 'deathConfirmed': None,
 'deathProbable': None,
 'totalTestEncountersViral': None,
 'totalTestsPeopleViral': None,
 'totalTestsAntibody': None,
 'positiveTestsAntibody': None,
 'negativeTestsAntibody': None,
 'totalTestsPeopleAntibody': None,
 'positiveTestsPeopleAntibody': None,
 'negativeTestsPeopleAntibody': None,
 'totalTestsPeopleAntigen': None,
 'positiveTestsPeopleAntigen': None,
 'totalTestsAntigen': None,
 'positiveTestsAntigen': None,
 'fips': '02',
 'positiveIncrease': 0,
 'negativeIncrease': 0,
 'total': 56886,
 'totalTestResultsIncrease': 0,
 'posNeg': 56886,
 'dataQualityGrade': None,
 'deathIncrease': 0,
 'hospitalizedIncrease': 0,
 'hash': 'dc4bccd4bb885349d7e94d6fed058e285d4be164',
 'commercialScore': 0,
 'negativeRegularScore': 0,
 'negativeScore': 0,
 'positiveScore': 0,
 'score': 0,
 'grade': ''}

In [6]:
df = pd.read_json(url)
df

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,
1,20210307,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,
2,20210307,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,
3,20210307,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,NaN,0,0,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0,0,0,0,0,
4,20210307,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20775,20200117,WA,0.0,NaN,NaN,NaN,totalTestEncountersViral,NaN,NaN,NaN,...,NaN,0,0,7cefac6b3681020741ca30f45399a7b22f2e45b4,0,0,0,0,0,
20776,20200116,WA,0.0,NaN,NaN,NaN,totalTestEncountersViral,NaN,NaN,NaN,...,NaN,0,0,650501e005a5ee86d93c5f32dda56735ea2af967,0,0,0,0,0,
20777,20200115,WA,0.0,NaN,NaN,NaN,totalTestEncountersViral,NaN,NaN,NaN,...,NaN,0,0,4987e61aad88182abfe641033b597304c2153d4f,0,0,0,0,0,
20778,20200114,WA,0.0,NaN,NaN,NaN,totalTestEncountersViral,NaN,NaN,NaN,...,NaN,0,0,1881c8a2f0d337b22066b4f05df06eb2259e8d57,0,0,0,0,0,
20779,20200113,WA,NaN,NaN,NaN,NaN,totalTestEncountersViral,NaN,NaN,NaN,...,NaN,0,0,12b994ad07c276a5278a2465e081751688739765,0,0,0,0,0,

In [7]:
newdf = df[['date', 'state', 'fips', 'positive', 'probableCases','negative','hospitalizedCumulative','recovered','death','positiveCasesViral','deathConfirmed']].copy()
newdf

,date,state,fips,positive,probableCases,negative,hospitalizedCumulative,recovered,death,positiveCasesViral,deathConfirmed
0,20210307,AK,2,56886.0,NaN,NaN,1293.0,NaN,305.0,NaN,NaN
1,20210307,AL,1,499819.0,107742.0,1931711.0,45976.0,295690.0,10148.0,392077.0,7963.0
2,20210307,AR,5,324818.0,69092.0,2480716.0,14926.0,315517.0,5319.0,255726.0,4308.0
3,20210307,AS,60,0.0,NaN,2140.0,NaN,NaN,0.0,0.0,NaN
4,20210307,AZ,4,826454.0,56519.0,3073010.0,57907.0,NaN,16328.0,769935.0,14403.0
...,...,...,...,...,...,...,...,...,...,...,...
20775,20200117,WA,53,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN
20776,20200116,WA,53,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN
20777,20200115,WA,53,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN
20778,20200114,WA,53,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN
20779,20200113,WA,53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
newdf1=newdf.copy()

In [9]:
# Change state fips codes to State name
fips_to_name = us.states.mapping("abbr", "name")
newdf1["State"] = newdf1["state"].map(fips_to_name)
newdf1

,date,state,fips,positive,probableCases,negative,hospitalizedCumulative,recovered,death,positiveCasesViral,deathConfirmed,State
0,20210307,AK,2,56886.0,NaN,NaN,1293.0,NaN,305.0,NaN,NaN,Alaska
1,20210307,AL,1,499819.0,107742.0,1931711.0,45976.0,295690.0,10148.0,392077.0,7963.0,Alabama
2,20210307,AR,5,324818.0,69092.0,2480716.0,14926.0,315517.0,5319.0,255726.0,4308.0,Arkansas
3,20210307,AS,60,0.0,NaN,2140.0,NaN,NaN,0.0,0.0,NaN,American Samoa
4,20210307,AZ,4,826454.0,56519.0,3073010.0,57907.0,NaN,16328.0,769935.0,14403.0,Arizona
...,...,...,...,...,...,...,...,...,...,...,...,...
20775,20200117,WA,53,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Washington
20776,20200116,WA,53,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Washington
20777,20200115,WA,53,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Washington
20778,20200114,WA,53,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Washington
20779,20200113,WA,53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Washington

In [10]:
# # cov_df=pd.DataFrame(columns='date', data=pov_json)

# for index, row in df.iterrows():
#     date= cov_json['date']
#     state=cov_json['state']
#     fips=cov_json['fips']
#     positve= cov_json['positve']
#     probableCases= cov_json['probableCase']
#     negative= cov_json['negative']
#     hospitalizedCumulative= cov_json['negative']
#     recovered= cov_json['recovered']
#     death= cov_json['death']
#     positiveCasesViral= cov_json['positiveCasesViral']
#     deathConfirmed= cov_json

In [11]:
newdf1.to_json(r'covid_data.json')