In [1]:
import pandas as pd 
import requests
import json
import numpy as np
from pprint import pprint
import datetime as dt

In [2]:
covid_df = pd.read_json("./covid_data.json")
covid_df.head()

,date,state,fips,positive,probableCases,negative,hospitalizedCumulative,recovered,death,positiveCasesViral,deathConfirmed,State
0,20210307,AK,2,56886.0,NaN,NaN,1293.0,NaN,305.0,NaN,NaN,Alaska
1,20210307,AL,1,499819.0,107742.0,1931711.0,45976.0,295690.0,10148.0,392077.0,7963.0,Alabama
2,20210307,AR,5,324818.0,69092.0,2480716.0,14926.0,315517.0,5319.0,255726.0,4308.0,Arkansas
3,20210307,AS,60,0.0,NaN,2140.0,NaN,NaN,0.0,0.0,NaN,American Samoa
4,20210307,AZ,4,826454.0,56519.0,3073010.0,57907.0,NaN,16328.0,769935.0,14403.0,Arizona

In [3]:
# Filtered dataframe for Dashboard

dashboard_covid_cols = ["date","state", "positive","hospitalizedCumulative","death", "recovered"]

dashboard_covid_copy = covid_df[dashboard_covid_cols].copy()
# dashboard_covid_copy

state_list = np.unique(dashboard_covid_copy['state'])
# state_list

len(np.unique(dashboard_covid_copy['state']))

56

In [4]:
# Filtered dataframe for BarGraph

bargraph_covid_cols = ["date","state", "positive","hospitalizedCumulative","death", "recovered", "State"]

bargraph_covid_copy = covid_df[bargraph_covid_cols].copy()
# dashboard_covid_copy

States_list = np.unique(bargraph_covid_copy['State'])
# state_list

len(np.unique(bargraph_covid_copy['State']))

56

In [5]:
bargraph_covid_copy.head()
bargraph_covid_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20780 entries, 0 to 20779
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   date                    20780 non-null  int64
 1   state                   20780 non-null  object
 2   positive                20592 non-null  float64
 3   hospitalizedCumulative  12382 non-null  float64
 4   death                   19930 non-null  float64
 5   recovered               12003 non-null  float64
 6   State                   20780 non-null  object
dtypes: float64(4), int64(1), object(2)
memory usage: 1.3+ MB

In [ ]:
bargraph_covid_copy = df.groupby([ 'YearMonth','state']).sum()

In [6]:
dashboard_covid_copy.head()

       date state  positive  hospitalizedCumulative    death  recovered
0  20210307    AK   56886.0                  1293.0    305.0        NaN
1  20210307    AL  499819.0                 45976.0  10148.0   295690.0
2  20210307    AR  324818.0                 14926.0   5319.0   315517.0
3  20210307    AS       0.0                     NaN      0.0        NaN
4  20210307    AZ  826454.0                 57907.0  16328.0        NaN

In [7]:
dashboard_covid_copy.dtypes

date                        int64
state                      object
positive                  float64
hospitalizedCumulative    float64
death                     float64
recovered                 float64
dtype: object

In [8]:
dashboard_covid_copy['date'] = pd.to_datetime(dashboard_covid_copy['date'], format='%Y%m%d')
dashboard_covid_copy
date_filtered = dashboard_covid_copy.loc[(dashboard_covid_copy['date'] == '2021-03-07')]
date_filtered

         date state   positive  hospitalizedCumulative    death  recovered
0  2021-03-07    AK    56886.0                  1293.0    305.0        NaN
1  2021-03-07    AL   499819.0                 45976.0  10148.0   295690.0
2  2021-03-07    AR   324818.0                 14926.0   5319.0   315517.0
3  2021-03-07    AS        0.0                     NaN      0.0        NaN
4  2021-03-07    AZ   826454.0                 57907.0  16328.0        NaN
5  2021-03-07    CA  3501394.0                     NaN  54124.0        NaN
6  2021-03-07    CO   436602.0                 23904.0   5989.0        NaN
7  2021-03-07    CT   285330.0                     NaN   7704.0        NaN
8  2021-03-07    DC    41419.0                     NaN   1030.0    29570.0
9  2021-03-07    DE    88354.0                     NaN   1473.0        NaN
10 2021-03-07    FL  1909209.0                 82237.0  32266.0        NaN
11 2021-03-07    GA  1023487.0                 56797.0  17906.0        NaN
12 2021-03-07    GU     7749.0                     NaN    133.0     7590.0
13 2021-03-07    HI    28699.0                  2226.0    445.0        NaN
14 2021-03-07    IA   282384.0                     NaN   5558.0   320054.0
15 2021-03-07    ID   172931.0                  7184.0   1879.0    96017.0
16 2021-03-07    IL  1198335.0                     NaN  23014.0        NaN
17 2021-03-07    IN   667262.0                 43217.0  12737.0        NaN
18 2021-03-07    KS   295861.0                  9387.0   4812.0        NaN
19 2021-03-07    KY   410709.0                 19457.0   4819.0    48145.0
20 2021-03-07    LA   433785.0                     NaN   9748.0   415954.0
21 2021-03-07    MA   591356.0                 19713.0  16417.0   508745.0
22 2021-03-07    MD   387319.0                 35651.0   7955.0     9703.0
23 2021-03-07    ME    45794.0                  1570.0    706.0    12840.0
24 2021-03-07    MI   656072.0                     NaN  16658.0   549881.0
25 2021-03-07    MN   490011.0                 25978.0   6550.0   476055.0
26 2021-03-07    MO   480643.0                     NaN   8161.0        NaN
27 2021-03-07    MP      145.0                     4.0      2.0       29.0
28 2021-03-07    MS   297581.0                  9162.0   6808.0   278162.0
29 2021-03-07    MT   100914.0                  4630.0   1381.0    97943.0
30 2021-03-07    NC   872176.0                     NaN  11502.0        NaN
31 2021-03-07    ND   100391.0                  3880.0   1478.0    98326.0
32 2021-03-07    NE   203026.0                  6237.0   2113.0   157144.0
33 2021-03-07    NH    76861.0                  1131.0   1184.0    73615.0
34 2021-03-07    NJ   812609.0                 64396.0  23574.0        NaN
35 2021-03-07    NM   186922.0                 13252.0   3808.0   156554.0
36 2021-03-07    NV   296190.0                     NaN   5037.0        NaN
37 2021-03-07    NY  1681169.0                     NaN  39029.0        NaN
38 2021-03-07    OH   978471.0                 50881.0  17656.0   925655.0
39 2021-03-07    OK   428997.0                 24332.0   4534.0   412177.0
40 2021-03-07    OR   157079.0                  8714.0   2296.0        NaN
41 2021-03-07    PA   948643.0                     NaN  24349.0   861756.0
42 2021-03-07    PR   101632.0                     NaN   2062.0    91987.0
43 2021-03-07    RI   128781.0                  9020.0   2547.0        NaN
44 2021-03-07    SC   525865.0                 20725.0   8754.0   218863.0
45 2021-03-07    SD   113589.0                  6705.0   1900.0   109531.0
46 2021-03-07    TN   782206.0                 18870.0  11543.0   756793.0
47 2021-03-07    TX  2686818.0                     NaN  44451.0  2502609.0
48 2021-03-07    UT   374850.0                 14891.0   1976.0   358958.0
49 2021-03-07    VA   585700.0                 24661.0   9596.0        NaN
50 2021-03-07    VI     2714.0                     NaN     25.0     2559.0
51 2021-03-07    VT    16083.0                     NaN    208.0    13384.0
52 2021-03-07    WA   344532.0                 19599.0   5041.0        NaN
53 2021-03-07    WI   621654.0                 26457.0   7106.0   553203.0
54 2021-03-07    WV   133445.0                     NaN   2325.0   125383.0
55 2021-03-07    WY    54764.0                  1391.0    682.0    53550.0

In [9]:
bargraph_covid_copy['date'] = pd.to_datetime(bargraph_covid_copy['date'], format='%Y%m%d')
bargraph_covid_copy
bar_date_filtered = bargraph_covid_copy.loc[(bargraph_covid_copy['date'] == '2021-03-07')]
bar_date_filtered

,date,state,positive,hospitalizedCumulative,death,recovered,State
0,2021-03-07,AK,56886.0,1293.0,305.0,NaN,Alaska
1,2021-03-07,AL,499819.0,45976.0,10148.0,295690.0,Alabama
2,2021-03-07,AR,324818.0,14926.0,5319.0,315517.0,Arkansas
3,2021-03-07,AS,0.0,NaN,0.0,NaN,American Samoa
4,2021-03-07,AZ,826454.0,57907.0,16328.0,NaN,Arizona
5,2021-03-07,CA,3501394.0,NaN,54124.0,NaN,California
6,2021-03-07,CO,436602.0,23904.0,5989.0,NaN,Colorado
7,2021-03-07,CT,285330.0,NaN,7704.0,NaN,Connecticut
8,2021-03-07,DC,41419.0,NaN,1030.0,29570.0,District of Columbia
9,2021-03-07,DE,88354.0,NaN,1473.0,NaN,Delaware
10,2021-03-07,FL,1909209.0,82237.0,32266.0,NaN,Florida
11,2021-03-07,GA,1023487.0,56797.0,17906.0,NaN,Georgia
12,2021-03-07,GU,7749.0,NaN,133.0,7590.0,Guam
13,2021-03-07,HI,28699.0,2226.0,445.0,NaN,Hawaii
14,2021-03-07,IA,282384.0,NaN,5558.0,320054.0,Iowa
15,2021-03-07,ID,172931.0,7184.0,1879.0,96017.0,Idaho
16,2021-03-07,IL,1198335.0,NaN,23014.0,NaN,Illinois
17,2021-03-07,IN,667262.0,43217.0,12737.0,NaN,Indiana
18,2021-03-07,KS,295861.0,9387.0,4812.0,NaN,Kansas
19,2021-03-07,KY,410709.0,19457.0,4819.0,48145.0,Kentucky
20,2021-03-07,LA,433785.0,NaN,9748.0,415954.0,Louisiana
21,2021-03-07,MA,591356.0,19713.0,16417.0,508745.0,Massachusetts
22,2021-03-07,MD,387319.0,35651.0,7955.0,9703.0,Maryland
23,2021-03-07,ME,45794.0,1570.0,706.0,12840.0,Maine
24,2021-03-07,MI,656072.0,NaN,16658.0,549881.0,Michigan
25,2021-03-07,MN,490011.0,25978.0,6550.0,476055.0,Minnesota
26,2021-03-07,MO,480643.0,NaN,8161.0,NaN,Missouri
27,2021-03-07,MP,145.0,4.0,2.0,29.0,Northern Mariana Islands
28,2021-03-07,MS,297581.0,9162.0,6808.0,278162.0,Mississippi
29,2021-03-07,MT,100914.0,4630.0,1381.0,97943.0,Montana
30,2021-03-07,NC,872176.0,NaN,11502.0,NaN,North Carolina
31,2021-03-07,ND,100391.0,3880.0,1478.0,98326.0,North Dakota
32,2021-03-07,NE,203026.0,6237.0,2113.0,157144.0,Nebraska
33,2021-03-07,NH,76861.0,1131.0,1184.0,73615.0,New Hampshire
34,2021-03-07,NJ,812609.0,64396.0,23574.0,NaN,New Jersey
35,2021-03-07,NM,186922.0,13252.0,3808.0,156554.0,New Mexico
36,2021-03-07,NV,296190.0,NaN,5037.0,NaN,Nevada
37,2021-03-07,NY,1681169.0,NaN,39029.0,NaN,New York
38,2021-03-07,OH,978471.0,50881.0,17656.0,925655.0,Ohio
39,2021-03-07,OK,428997.0,24332.0,4534.0,412177.0,Oklahoma
40,2021-03-07,OR,157079.0,8714.0,2296.0,NaN,Oregon
41,2021-03-07,PA,948643.0,NaN,24349.0,861756.0,Pennsylvania
42,2021-03-07,PR,101632.0,NaN,2062.0,91987.0,Puerto Rico
43,2021-03-07,RI,128781.0,9020.0,2547.0,NaN,Rhode Island
44,2021-03-07,SC,525865.0,20725.0,8754.0,218863.0,South Carolina
45,2021-03-07,SD,113589.0,6705.0,1900.0,109531.0,South Dakota
46,2021-03-07,TN,782206.0,18870.0,11543.0,756793.0,Tennessee
47,2021-03-07,TX,2686818.0,NaN,44451.0,2502609.0,Texas
48,2021-03-07,UT,374850.0,14891.0,1976.0,358958.0,Utah
49,2021-03-07,VA,585700.0,24661.0,9596.0,NaN,Virginia
50,2021-03-07,VI,2714.0,NaN,25.0,2559.0,Virgin Islands
51,2021-03-07,VT,16083.0,NaN,208.0,13384.0,Vermont
52,2021-03-07,WA,344532.0,19599.0,5041.0,NaN,Washington
53,2021-03-07,WI,621654.0,26457.0,7106.0,553203.0,Wisconsin
54,2021-03-07,WV,133445.0,NaN,2325.0,125383.0,West Virginia
55,2021-03-07,WY,54764.0,1391.0,682.0,53550.0,Wyoming

In [8]:
date_filtered.to_json(r'allstatesAG_map.json', orient='records')

In [10]:
date_filtered.sum(axis=0,numeric_only=True)

positive                  28756489.0
hospitalizedCumulative      776361.0
death                       515151.0
recovered                 10933942.0
dtype: float64

In [11]:
date_filtered.head()

        date state  positive  hospitalizedCumulative    death  recovered
0 2021-03-07    AK   56886.0                  1293.0    305.0        NaN
1 2021-03-07    AL  499819.0                 45976.0  10148.0   295690.0
2 2021-03-07    AR  324818.0                 14926.0   5319.0   315517.0
3 2021-03-07    AS       0.0                     NaN      0.0        NaN
4 2021-03-07    AZ  826454.0                 57907.0  16328.0        NaN

In [32]:
positive= date_filtered['positive'].sum()
hospitalized=date_filtered['hospitalizedCumulative'].sum()
death=date_filtered['death'].sum()
recovered=date_filtered['recovered'].sum()
covsummary_df = pd.DataFrame({
    "positive":[positive],
    "hospitalizedCumulative":[hospitalized],
    "death":[death],
    "recovered":[recovered],
    "state":"ALL"
})
covsummary_df

     positive  hospitalizedCumulative     death   recovered state
0  28756489.0                776361.0  515151.0  10933942.0   ALL

In [33]:
new_df = pd.concat([covsummary_df, date_filtered]).reset_index(drop=True)
new_df

      positive  hospitalizedCumulative     death   recovered state       date
0   28756489.0                776361.0  515151.0  10933942.0   ALL        NaT
1      56886.0                  1293.0     305.0         NaN    AK 2021-03-07
2     499819.0                 45976.0   10148.0    295690.0    AL 2021-03-07
3     324818.0                 14926.0    5319.0    315517.0    AR 2021-03-07
4          0.0                     NaN       0.0         NaN    AS 2021-03-07
5     826454.0                 57907.0   16328.0         NaN    AZ 2021-03-07
6    3501394.0                     NaN   54124.0         NaN    CA 2021-03-07
7     436602.0                 23904.0    5989.0         NaN    CO 2021-03-07
8     285330.0                     NaN    7704.0         NaN    CT 2021-03-07
9      41419.0                     NaN    1030.0     29570.0    DC 2021-03-07
10     88354.0                     NaN    1473.0         NaN    DE 2021-03-07
11   1909209.0                 82237.0   32266.0         NaN    FL 2021-03-07
12   1023487.0                 56797.0   17906.0         NaN    GA 2021-03-07
13      7749.0                     NaN     133.0      7590.0    GU 2021-03-07
14     28699.0                  2226.0     445.0         NaN    HI 2021-03-07
15    282384.0                     NaN    5558.0    320054.0    IA 2021-03-07
16    172931.0                  7184.0    1879.0     96017.0    ID 2021-03-07
17   1198335.0                     NaN   23014.0         NaN    IL 2021-03-07
18    667262.0                 43217.0   12737.0         NaN    IN 2021-03-07
19    295861.0                  9387.0    4812.0         NaN    KS 2021-03-07
20    410709.0                 19457.0    4819.0     48145.0    KY 2021-03-07
21    433785.0                     NaN    9748.0    415954.0    LA 2021-03-07
22    591356.0                 19713.0   16417.0    508745.0    MA 2021-03-07
23    387319.0                 35651.0    7955.0      9703.0    MD 2021-03-07
24     45794.0                  1570.0     706.0     12840.0    ME 2021-03-07
25    656072.0                     NaN   16658.0    549881.0    MI 2021-03-07
26    490011.0                 25978.0    6550.0    476055.0    MN 2021-03-07
27    480643.0                     NaN    8161.0         NaN    MO 2021-03-07
28       145.0                     4.0       2.0        29.0    MP 2021-03-07
29    297581.0                  9162.0    6808.0    278162.0    MS 2021-03-07
30    100914.0                  4630.0    1381.0     97943.0    MT 2021-03-07
31    872176.0                     NaN   11502.0         NaN    NC 2021-03-07
32    100391.0                  3880.0    1478.0     98326.0    ND 2021-03-07
33    203026.0                  6237.0    2113.0    157144.0    NE 2021-03-07
34     76861.0                  1131.0    1184.0     73615.0    NH 2021-03-07
35    812609.0                 64396.0   23574.0         NaN    NJ 2021-03-07
36    186922.0                 13252.0    3808.0    156554.0    NM 2021-03-07
37    296190.0                     NaN    5037.0         NaN    NV 2021-03-07
38   1681169.0                     NaN   39029.0         NaN    NY 2021-03-07
39    978471.0                 50881.0   17656.0    925655.0    OH 2021-03-07
40    428997.0                 24332.0    4534.0    412177.0    OK 2021-03-07
41    157079.0                  8714.0    2296.0         NaN    OR 2021-03-07
42    948643.0                     NaN   24349.0    861756.0    PA 2021-03-07
43    101632.0                     NaN    2062.0     91987.0    PR 2021-03-07
44    128781.0                  9020.0    2547.0         NaN    RI 2021-03-07
45    525865.0                 20725.0    8754.0    218863.0    SC 2021-03-07
46    113589.0                  6705.0    1900.0    109531.0    SD 2021-03-07
47    782206.0                 18870.0   11543.0    756793.0    TN 2021-03-07
48   2686818.0                     NaN   44451.0   2502609.0    TX 2021-03-07
49    374850.0                 14891.0    1976.0    358958.0    UT 2021-03-07
50    585700.0                 24661.0    9596.0         NaN    VA 2021-03-07
51      2714.0                     NaN      25.0      2559.0    VI 2021-03-07
52     16083.0                     NaN     208.0     13384.0    VT 2021-03-07
53    344532.0                 19599.0    5041.0         NaN    WA 2021-03-07
54    621654.0                 26457.0    7106.0    553203.0    WI 2021-03-07
55    133445.0                     NaN    2325.0    125383.0    WV 2021-03-07
56     54764.0                  1391.0     682.0     53550.0    WY 2021-03-07

In [24]:
ALL_sums_andState_totals=date_filtered.copy()
ALL_sums_andState_totals.loc[len(ALL_sums_andState_totals.index)] = ['2021-03-07', 'ALL', 28756489.0,776361.0,515151.0,10933942.0] 
ALL_sums_andState_totals

,date,state,positive,hospitalizedCumulative,death,recovered
0,2021-03-07 00:00:00,AK,56886.0,1293.0,305.0,NaN
1,2021-03-07 00:00:00,AL,499819.0,45976.0,10148.0,295690.0
2,2021-03-07 00:00:00,AR,324818.0,14926.0,5319.0,315517.0
3,2021-03-07 00:00:00,AS,0.0,NaN,0.0,NaN
4,2021-03-07 00:00:00,AZ,826454.0,57907.0,16328.0,NaN
5,2021-03-07 00:00:00,CA,3501394.0,NaN,54124.0,NaN
6,2021-03-07 00:00:00,CO,436602.0,23904.0,5989.0,NaN
7,2021-03-07 00:00:00,CT,285330.0,NaN,7704.0,NaN
8,2021-03-07 00:00:00,DC,41419.0,NaN,1030.0,29570.0
9,2021-03-07 00:00:00,DE,88354.0,NaN,1473.0,NaN
10,2021-03-07 00:00:00,FL,1909209.0,82237.0,32266.0,NaN
11,2021-03-07 00:00:00,GA,1023487.0,56797.0,17906.0,NaN
12,2021-03-07 00:00:00,GU,7749.0,NaN,133.0,7590.0
13,2021-03-07 00:00:00,HI,28699.0,2226.0,445.0,NaN
14,2021-03-07 00:00:00,IA,282384.0,NaN,5558.0,320054.0
15,2021-03-07 00:00:00,ID,172931.0,7184.0,1879.0,96017.0
16,2021-03-07 00:00:00,IL,1198335.0,NaN,23014.0,NaN
17,2021-03-07 00:00:00,IN,667262.0,43217.0,12737.0,NaN
18,2021-03-07 00:00:00,KS,295861.0,9387.0,4812.0,NaN
19,2021-03-07 00:00:00,KY,410709.0,19457.0,4819.0,48145.0
20,2021-03-07 00:00:00,LA,433785.0,NaN,9748.0,415954.0
21,2021-03-07 00:00:00,MA,591356.0,19713.0,16417.0,508745.0
22,2021-03-07 00:00:00,MD,387319.0,35651.0,7955.0,9703.0
23,2021-03-07 00:00:00,ME,45794.0,1570.0,706.0,12840.0
24,2021-03-07 00:00:00,MI,656072.0,NaN,16658.0,549881.0
25,2021-03-07 00:00:00,MN,490011.0,25978.0,6550.0,476055.0
26,2021-03-07 00:00:00,MO,480643.0,NaN,8161.0,NaN
27,2021-03-07 00:00:00,MP,145.0,4.0,2.0,29.0
28,2021-03-07 00:00:00,MS,297581.0,9162.0,6808.0,278162.0
29,2021-03-07 00:00:00,MT,100914.0,4630.0,1381.0,97943.0
30,2021-03-07 00:00:00,NC,872176.0,NaN,11502.0,NaN
31,2021-03-07 00:00:00,ND,100391.0,3880.0,1478.0,98326.0
32,2021-03-07 00:00:00,NE,203026.0,6237.0,2113.0,157144.0
33,2021-03-07 00:00:00,NH,76861.0,1131.0,1184.0,73615.0
34,2021-03-07 00:00:00,NJ,812609.0,64396.0,23574.0,NaN
35,2021-03-07 00:00:00,NM,186922.0,13252.0,3808.0,156554.0
36,2021-03-07 00:00:00,NV,296190.0,NaN,5037.0,NaN
37,2021-03-07 00:00:00,NY,1681169.0,NaN,39029.0,NaN
38,2021-03-07 00:00:00,OH,978471.0,50881.0,17656.0,925655.0
39,2021-03-07 00:00:00,OK,428997.0,24332.0,4534.0,412177.0
40,2021-03-07 00:00:00,OR,157079.0,8714.0,2296.0,NaN
41,2021-03-07 00:00:00,PA,948643.0,NaN,24349.0,861756.0
42,2021-03-07 00:00:00,PR,101632.0,NaN,2062.0,91987.0
43,2021-03-07 00:00:00,RI,128781.0,9020.0,2547.0,NaN
44,2021-03-07 00:00:00,SC,525865.0,20725.0,8754.0,218863.0
45,2021-03-07 00:00:00,SD,113589.0,6705.0,1900.0,109531.0
46,2021-03-07 00:00:00,TN,782206.0,18870.0,11543.0,756793.0
47,2021-03-07 00:00:00,TX,2686818.0,NaN,44451.0,2502609.0
48,2021-03-07 00:00:00,UT,374850.0,14891.0,1976.0,358958.0
49,2021-03-07 00:00:00,VA,585700.0,24661.0,9596.0,NaN
50,2021-03-07 00:00:00,VI,2714.0,NaN,25.0,2559.0
51,2021-03-07 00:00:00,VT,16083.0,NaN,208.0,13384.0
52,2021-03-07 00:00:00,WA,344532.0,19599.0,5041.0,NaN
53,2021-03-07 00:00:00,WI,621654.0,26457.0,7106.0,553203.0
54,2021-03-07 00:00:00,WV,133445.0,NaN,2325.0,125383.0
55,2021-03-07 00:00:00,WY,54764.0,1391.0,682.0,53550.0
56,2021-03-07,ALL,28756489.0,776361.0,515151.0,10933942.0

In [25]:
ALL_sums_andState_totals.sort_values('state', inplace = True)
ALL_sums_andState_totals

,date,state,positive,hospitalizedCumulative,death,recovered
0,2021-03-07 00:00:00,AK,56886.0,1293.0,305.0,NaN
1,2021-03-07 00:00:00,AL,499819.0,45976.0,10148.0,295690.0
56,2021-03-07,ALL,28756489.0,776361.0,515151.0,10933942.0
2,2021-03-07 00:00:00,AR,324818.0,14926.0,5319.0,315517.0
3,2021-03-07 00:00:00,AS,0.0,NaN,0.0,NaN
4,2021-03-07 00:00:00,AZ,826454.0,57907.0,16328.0,NaN
5,2021-03-07 00:00:00,CA,3501394.0,NaN,54124.0,NaN
6,2021-03-07 00:00:00,CO,436602.0,23904.0,5989.0,NaN
7,2021-03-07 00:00:00,CT,285330.0,NaN,7704.0,NaN
8,2021-03-07 00:00:00,DC,41419.0,NaN,1030.0,29570.0
9,2021-03-07 00:00:00,DE,88354.0,NaN,1473.0,NaN
10,2021-03-07 00:00:00,FL,1909209.0,82237.0,32266.0,NaN
11,2021-03-07 00:00:00,GA,1023487.0,56797.0,17906.0,NaN
12,2021-03-07 00:00:00,GU,7749.0,NaN,133.0,7590.0
13,2021-03-07 00:00:00,HI,28699.0,2226.0,445.0,NaN
14,2021-03-07 00:00:00,IA,282384.0,NaN,5558.0,320054.0
15,2021-03-07 00:00:00,ID,172931.0,7184.0,1879.0,96017.0
16,2021-03-07 00:00:00,IL,1198335.0,NaN,23014.0,NaN
17,2021-03-07 00:00:00,IN,667262.0,43217.0,12737.0,NaN
18,2021-03-07 00:00:00,KS,295861.0,9387.0,4812.0,NaN
19,2021-03-07 00:00:00,KY,410709.0,19457.0,4819.0,48145.0
20,2021-03-07 00:00:00,LA,433785.0,NaN,9748.0,415954.0
21,2021-03-07 00:00:00,MA,591356.0,19713.0,16417.0,508745.0
22,2021-03-07 00:00:00,MD,387319.0,35651.0,7955.0,9703.0
23,2021-03-07 00:00:00,ME,45794.0,1570.0,706.0,12840.0
24,2021-03-07 00:00:00,MI,656072.0,NaN,16658.0,549881.0
25,2021-03-07 00:00:00,MN,490011.0,25978.0,6550.0,476055.0
26,2021-03-07 00:00:00,MO,480643.0,NaN,8161.0,NaN
27,2021-03-07 00:00:00,MP,145.0,4.0,2.0,29.0
28,2021-03-07 00:00:00,MS,297581.0,9162.0,6808.0,278162.0
29,2021-03-07 00:00:00,MT,100914.0,4630.0,1381.0,97943.0
30,2021-03-07 00:00:00,NC,872176.0,NaN,11502.0,NaN
31,2021-03-07 00:00:00,ND,100391.0,3880.0,1478.0,98326.0
32,2021-03-07 00:00:00,NE,203026.0,6237.0,2113.0,157144.0
33,2021-03-07 00:00:00,NH,76861.0,1131.0,1184.0,73615.0
34,2021-03-07 00:00:00,NJ,812609.0,64396.0,23574.0,NaN
35,2021-03-07 00:00:00,NM,186922.0,13252.0,3808.0,156554.0
36,2021-03-07 00:00:00,NV,296190.0,NaN,5037.0,NaN
37,2021-03-07 00:00:00,NY,1681169.0,NaN,39029.0,NaN
38,2021-03-07 00:00:00,OH,978471.0,50881.0,17656.0,925655.0
39,2021-03-07 00:00:00,OK,428997.0,24332.0,4534.0,412177.0
40,2021-03-07 00:00:00,OR,157079.0,8714.0,2296.0,NaN
41,2021-03-07 00:00:00,PA,948643.0,NaN,24349.0,861756.0
42,2021-03-07 00:00:00,PR,101632.0,NaN,2062.0,91987.0
43,2021-03-07 00:00:00,RI,128781.0,9020.0,2547.0,NaN
44,2021-03-07 00:00:00,SC,525865.0,20725.0,8754.0,218863.0
45,2021-03-07 00:00:00,SD,113589.0,6705.0,1900.0,109531.0
46,2021-03-07 00:00:00,TN,782206.0,18870.0,11543.0,756793.0
47,2021-03-07 00:00:00,TX,2686818.0,NaN,44451.0,2502609.0
48,2021-03-07 00:00:00,UT,374850.0,14891.0,1976.0,358958.0
49,2021-03-07 00:00:00,VA,585700.0,24661.0,9596.0,NaN
50,2021-03-07 00:00:00,VI,2714.0,NaN,25.0,2559.0
51,2021-03-07 00:00:00,VT,16083.0,NaN,208.0,13384.0
52,2021-03-07 00:00:00,WA,344532.0,19599.0,5041.0,NaN
53,2021-03-07 00:00:00,WI,621654.0,26457.0,7106.0,553203.0
54,2021-03-07 00:00:00,WV,133445.0,NaN,2325.0,125383.0
55,2021-03-07 00:00:00,WY,54764.0,1391.0,682.0,53550.0

In [34]:
new_df.to_json(r'covidSummaryALL.json',orient='records')